body {
  font-size: 18px;
  padding-top: 120px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;

}

h1 {
  display: inline;
  color: white;
  text-align: center;
  background-color: black;
  border-style: double;
  border-width: 5px;
  margin: 40px;
  
}

